@font-face {
    font-family: "Montserrat";
    src: url('./Montserrat-VariableFont_wght.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Monteserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.030em;
}
:root{
    --black: #000000;
    --black2: #222222;
    --white: #FFFFFF;
    --white2: #e4e7ea;


    --background1: #e4e7ea;
    --background2: #FFFFFF;
    --backgroundinverse1: #222222;
    --backgroundinverse2: #000000;


    --color1: #444444;
    --color2: #000000;
    --colorinverse1: #e4e7ea;
    --colorinverse2: #FFFFFF;

    --muted: #848586;

    --thecolor1: #b19859; /*177, 152, 89  OR #1d5244*/ 
    --thecolor2: #a08a54;
    --thecolor1hover: rgb(177, 152, 89, 0.7);

    --theblue: #4285F4;
    --thegreen: #34A853;
    --thered: #EA4335;
    --thered2:#e41227;
    --orange: #FBBC05;
}

body{
    background-color: var(--background1);
    color: var(--color1);
}
a{text-decoration: none; color: var(--color1); transition: color 0.5s;}
h1{font-size: 72px;}
h2{font-size: 38px;}
h3{font-size: 28px;}
h4{font-size: 20px;}
h5{font-size: 16px; font-weight: 500;}
p, td{font-size: 16px;font-weight: 400;}
th{font-size: 16px; font-weight: 700;}
mark{
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      #c5b8824d,
      #c5b882b3 3%,
      #c5b8824d
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/*-------- START LOADER --------*/
.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--thecolor1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
.loader {
    width: 50px;
    aspect-ratio: 1.154;
    position: relative;
    background: conic-gradient(from 120deg at 50% 64%,#0000, #ffffff 1deg 120deg,#0000 121deg);
    animation: l27-0 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  .loader:before,
  .loader:after {
    content:'';
    position: absolute;
    inset:0;
    background:inherit;
    transform-origin: 50% 66%;
    animation: l27-1 1.5s infinite;
  }
  .loader:after {
    --s:-1;
  }
  @keyframes l27-0 {
     0%,30%      {transform: rotate(0)}
     70%         {transform: rotate(120deg)}
     70.01%,100% {transform: rotate(360deg)}
  }
  @keyframes l27-1 {
     0%      {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
     30%,70% {transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-5px),10px)}
     100%    {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
  }
/*-------- END LOADER --------*/













/*-------- NAVBAR --------*/
nav{
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 2;

    
    width: 100%;
    height: 50px;
    padding: 15px;
    overflow: hidden;

    background-color: var(--backgroundinverse1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
nav .tittle a,
nav .tittle-mobile a{
    color: var(--colorinverse2);
}
nav .tittle a span,
nav .tittle a i,
nav .tittle-mobile a span,
nav .tittle-mobile a i,
nav .links a i{
    color: var(--thecolor2);
}
nav .tittle a,
nav .tittle a span,
nav .tittle a i,
nav .links a i,
nav .tittle-mobile a span,
nav .tittle-mobile a i{
    font-size: 20px;
    font-weight: 700; 
}

nav .tittle a i,
nav .links a i{
    transition: color 0.2s;
}
nav .tittle a i:hover,
nav .links a i:hover{
    color: var(--colorinverse2);
}

nav .tittle-mobile{display: none;}
nav .tittle-mobile a,
nav .tittle-mobile a span,
nav .tittle-mobile a i{
    font-size: 30px;
    font-weight: 700; 
}

nav .links,
nav .links-mobile{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-size: 18px;
    color: var(--colorinverse2);
}
nav .links-mobile{display: none;}
nav .links a{
    color: var(--colorinverse2);
}
nav .links-mobile{
    display: none;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
nav .links-mobile p{
    color: var(--thecolor1);
    font-size: 20px;
    font-weight: 700;
}
/*-------- NAVBAR --------*/
/*-------- NAVBAR Collapse--------*/
.navbar-collapse{
    height: auto;
}
.navbar-links-collapse{
    display: flex !important;
}
/*-------- NAVBAR Collapse--------*/













/*-------- SIDEBAR --------*/
.sidebar{
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 1;

    width: 250px;
    padding-top: 50px;
    height: 100%;

    background-color: var(--background2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);


    cursor: default;
    transition: width 1s, heigth 1s;
}


.sidebar .profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;

    text-align: center;
    align-items: center;
    padding: 25px;

    border-bottom: 1px solid #e8e8e8;
    transition: padding 1s;

    z-index: 0;
}

.sidebar .profile img{
    width: 100%;
    height: 180px;
    transition: height 1s;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
}
.sidebar .profile p .indicator{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 9999px !important;
    margin-right: 5px;
    background-color: var(--thegreen);
}

.sidebar .items{
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /*hide scrollbar IE and Edge*/
    scrollbar-width: none; /*hide scrollbar FIREFOX*/
}
.sidebar .items::-webkit-scrollbar{ /*hide CHROME SAFARI OPERA*/
    display: none;
}

.sidebar .items,
.sidebar .items .plus-items{
    display: flex;
    flex-direction: column;
}
.sidebar .items .plus-items{display: none;}
.sidebar .items .plus-items .item{background-color: var(--background1); padding-left: 35px;}

.sidebar .items .item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background2);
    padding: 15px;
    color: var(--color1);
    cursor: pointer;
}
.sidebar .items .item:hover{
    background-color: var(--thecolor1hover);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    color: var(--colorinverse2) ;
}
.sidebar .items .selected:hover{
    background-color: var(--thecolor2) !important;
}
.sidebar .items .selected{
    background-color: var(--thecolor2) ;
    color: var(--colorinverse2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.sidebar .items .item h5 i{
    padding-right: 5px;
}
.sidebar .items .item .collapse-icon{
    display: none;
}
.sidebar .items .item h5 .fa-plus{
    float: right;
}

.collapse-items{
    display: block !important;
}
.shadow-scroll{
   box-shadow: 0px 15px 15px -17px rgba(0,0,0,0.75);
}
/*-------- SIDEBAR --------*/
/*-------- SIDEBAR Collapse --------*/
.collapse-main{padding-left: 40px !important;}
.collapse-sidebar{
    width: 40px !important;
}
.collapse-sidebar .items .item{padding: 10px !important;}
.collapse-sidebar .items .item .collapse-icon{
    display: block;
    font-size: 20px;
}
.collapse-sidebar .profile img{height: 50px;}
.collapse-sidebar .profile{padding: 5px; border: 0;}
.collapse-sidebar .profile .info,
.collapse-sidebar .items .item h5,
.collapse-sidebar .items .item .fa-plus{
    display: none !important;
}
/*-------- SIDEBAR Collapse --------*/












/*-------- MAIN AND UNIVERSAL DIVISONS--------*/
.main{
    padding-top: 50px;
    float: left;
    padding-left: 250px;
    transition: padding 1s;
    width: 100%;
}
.main .breadcrumb{
    font-size: 16px;

    padding: 10px;
    background-color: var(--background2);
    box-shadow: 0 0px 1px rgba(0,0,0,0.5);
}
.div-25{width: 25%;}.div-50{width: 50%;}.div-75{width: 75%;}.div-100{width: 100%;}
.div-25, .div-50, .div-75, .div-100{float: left;padding: 5px;}
.no-padding{padding: 0px !important;}

.card{
    width: 100%;
    background-color: var(--background2);
    border-radius: 5px;

    box-shadow: 0 1px 1px rgba(0,0,0,0.5);

}
.card .head{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;

    text-align: center;
    align-items: center;
    padding: 10px;

    border-bottom: 1px solid #e8e8e8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card .head img{
    width: 40%;
    height: auto;
    transition: height 1s;
    border-radius: 5px;
    object-fit: cover;
    object-position: top;
}
.card .body{
    padding: 10px;
    color: var(--color1);
    border-bottom: 1px solid #e8e8e8;
}
.card .center{
    text-align: center;
}
.card .body h4{
    margin-bottom: 10px;
}
.card .information{
    background-color: var(--thecolor1);
    color: var(--colorinverse2);
}

.searchbar{
    width: 100%;
    background-color: var(--background2);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.no-border{
    border: 0 !important;
}

input[type=button]{
    outline: 0;
    border: 0;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    color: var(--colorinverse2);
    border-radius: 3px;
    background: var(--thecolor1);
    font-weight: 600;
    font-size: 15px;
}
input[type=button]:hover{
    background: var(--thecolor2);
    border-color: var(--thecolor2);
}
input[type=button]:active{
    transform: translateY(1px);
}
input[type=text]{
    outline: 0;
    border: 0;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: var(--background1);
    font-weight: 600;
    font-size: 15px;
}
.bigtext textarea{
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(149,157,165,.3);
    width: 100%;
    resize: none;
    overflow: hidden;

    font-size: 11pt;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--color1);
}
/*-------- MAIN AND UNIVERSAL DIVISONS--------*/


/*-------- box--------*/
.box{
    padding: 10px 10px 0 10px;
    width: 100%;
    float: left;
}
.box-on{
    display: block !important;
}
.box-off{
    display: none !important;
}
/*-------- box--------*/

/*-------- box dashboard --------*/
#dashboard .widget-panel{
    width: 100%;
    float: left;

    background-color: var(--background2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
#dashboard .widget-panel .panel{
    float: left;
    align-items: center;
    text-align: center;

    padding: 10px;
}
#dashboard .widget-panel .border-rigth{border-right: 1px solid #e8e8e8;}
#dashboard.widget-panel .border-left{border-left: 1px solid #e8e8e8;}
.widget-blue{color: var(--theblue);}.widget-green{color: var(--thegreen);}.widget-orange{color: var(--orange);}.widget-red{color: var(--thered);}
#dashboard .widget-panel .panel i{
    font-size: 40px;
    margin-bottom: 10px;
}
#dashboard .widget-panel .panel h3{
    color: var(--color1);
    font-weight: 600;
}
#dashboard .widget-panel .panel p{
    color: var(--muted);
    font-weight: bold;
    text-transform: uppercase;
}
/*-------- box dashboard --------*/





/*-------- box profile --------*/
#basedados1 .card .basedados1-profile-buttons{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
#basedados1 .eliminar{
    background-color: red;
}
#basedados1 .aplicar{
    background-color: green;
}

#basedados1 .card .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
#basedados1 .card .info .colum{
    display: flex;
    justify-content: space-between;
}
#basedados1 .card .info .colum .row{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#basedados1 table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}
#basedados1 table th {
    border-bottom: 2px solid #333333;
    color: var(--color1);
    padding: 10px;
    text-transform: uppercase;
}
#basedados1 tbody td {
    color: var(--color1);
    padding: 10px;
    border-bottom: 1px solid #b9babb;
}

#basedados1 .basedados1-infocard-none{
    display: none;
}
#basedados1 .basedados1-infocard-on{
    display: block;
}
/*-------- box profile --------*/





/*-------- table--------*/
.default-table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    text-align: center;
}
.default-table table th {
    border: solid 1px #22222286;
    background-color: var(--thecolor1hover);
    color: var(--colorinverse2);
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.default-table tbody td {
    border: solid 1px #22222286;
    color: var(--color1);
    padding: 10px;
    text-align: left;
}
/*-------- table--------*/






/*-------- MEDIA SCREEN--------*/
@media only screen and (max-width: 1299px) {
    .sidebar {width: 20%;}
    .main {padding-left: 20%;}
    .div-25{width: 50%;}
    .div-50, .div-75{width: 100%;}
    #basedados1 .div-25{width: 100%;}
}
@media only screen and (max-width: 765px) {
    nav{
        height: 65px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    nav .tittle{display: none;}
    nav .tittle-mobile{display: flex;}
    nav .links{display: none;}
    .sidebar{
        display: none;
    }
    .main {padding-left: 0 !important; padding-top: 65px;}
    #basedados1 table{text-align: center;}
}
/*-------- MEDIA SCREEN--------*/
/*
    Desktop
    Smallest Text — 12px 
    Detail Text — 14px
    Body Text — 16/18px        <p>
    Subtitle — 18px            <h4>
    Title Text — 24/28px       <h3>
    Main Text — 32/38/42px     <h2>
    Display Text — 60/72/80px  <h1>

    Android/others
    Smallest Text — 12px
    Paragraph Text — 14px     
    Body Text — 16px          <p>
    Text Input— 16px          <p>
    Title Text — 20/22px      <h3>

    IOS
    Action Bar — 10px
    Tertiary Text — 13px
    Secondary Text — 15px
    Title Text — 17px
    Form Control — 17px

    @media only screen and (max-width: 765px) {...}
    @media only screen and (max-width: 1299px) {...}
    @media only screen and (min-width: 1300px) {...}
*/